/* almost for moment  */
/*  */
body{
    background-color: aliceblue;
}
h1{
    color: rosybrown;
    background-color: lemonchiffon;
    padding: 1rem;
}
ul
{
    font-family: Arial, Helvetica, sans-serif;
}